<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>😂</title>
    <meta
      name="description"
      content="To assist O Level students in finding the right choice of tertiary education."
    />
    <meta name="keywords" content="O level, assist, students, calculate" />
    <meta name="author" content="Timmy & Pals" />
    <link rel="shortcut icon" href="yoda.ico" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <script src="js/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Top Navigation -->
      <header class="codrops-header">
        <h1>You shall pass!<span>~ Pugdolf</span></h1>
      </header>
      <section>
        <form
          id="theForm"
          class="simform"
          autocomplete="off"
          method="POST"
          action="/results"
        >
          <div class="simform-inner">
            <ol class="questions">
              <li>
                <span>
                  <label for="q1">
                    What is your L1R5?
                    <div
                      class="button_cont"
                      align="center"
                      style="position: static; float: right; outline : none;"
                    >
                      <a
                        class="example_f"
                        href="/How"
                        target="_blank"
                        rel="nofollow"
                      >
                        <i class="fas fa-info-circle"></i>
                      </a>
                    </div>
                  </label>
                </span>
                <input id="q1" name="q1" type="number" min="2" max="54" />
              </li>
              <li>
                <span><label for="q2">What is your L1R4?</label></span>
                <input id="q2" name="q2" type="number" />
              </li>
            </ol>
            <!-- /questions -->
            <button class="submit" type="submit">Submit Score</button>
            <div class="controls">
              <button class="next"></button>
              <div class="progress"></div>
              <span class="number">
                <span class="number-current"></span>
                <span class="number-total"></span>
              </span>
              <span class="error-message"></span>
            </div>
            <!-- / controls -->
          </div>
          <!-- /simform-inner -->
          <span class="final-message"></span>
        </form>
        <!-- /simform -->
        <br />
      </section>
    </div>
    <!-- /container -->
    <script src="js/classie.js"></script>
    <script src="js/stepsForm.js"></script>
    <script>
      var theForm = document.getElementById("theForm");

      new stepsForm(theForm, {
        onSubmit: function(form) {
          // Request();
          console.dir(form);
          // hide form
          classie.addClass(theForm.querySelector(".simform-inner"), "hide");

          /*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/
          form.submit();

          // let's just simulate something...
          var messageEl = theForm.querySelector(".final-message");
          messageEl.innerHTML = "Thank you! Here are the results.";
          classie.addClass(messageEl, "show");
        }
      });
    </script>
  </body>
</html>

<style>
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
