<!DOCTYPE html>
<html>
    <head>
        <title>This is my title</title>
    </head>
    <body>
        <form>
		Subject: <select name='sub1'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade1">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub2'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade2">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub3'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade3">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub4'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade4">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub5'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade5">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub6'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade6">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub7'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade7">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub8'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade8">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub9'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade9">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
		Subject: <select name='sub10'>
				<option value='NA'>NA</option>
				<option value='English'>English</option>
				<option value='Mother Tongue'>Mother Tongue</option>
				<option value='Higher Mother Tongue'>Higher Mother Tongue</option>
				<option value='Malay (Special Programme)'>Malay (Special Programme)</option>
				<option value='Chinese (Special Programme)'>Chinese (Special Programme)</option>
				<option value='French'>French</option>
				<option value='Germany'>Germany</option>
				<option value='Japanese'>Japanese</option>
				<option value='Arabic'>Arabic</option>
				<option value='Burmese'>Burmese</option>
				<option value='Thai'>Thai</option>
				<option value='Bahasa Indonesia'>Bahasa Indonesia</option>
				<option value='Economics'>Economics</option>
            			<option value='Pinciples of Accounts'>Principles of Accounts</option>
				<option value='Geography (Pure)'>Geography (Pure)</option>
				<option value='History (Pure)'>History (Pure)</option>
				<option value='Literature (English)(Pure)'>Literature (English)(Pure)</option>
				<option value='Literature (Chinese)(Pure)'>Literature (Chinese)(Pure)</option>
				<option value='Literature (Malay)(Pure)'>Literature (Malay)(Pure)</option>
				<option value='Literature (Tamil)(Pure)'>Literature (Tamil)(Pure)</option>
				<option value='Geography Elective & Social Studies'>Geography Elective & Social Studies</option>
				<option value='History Elective & Social Studies'>History Elective & Social Studies</option>
				<option value='Literature (English) Elective & Social Studies'>Literature (English) Elective & Social Studies</option>
				<option value='Literature (Chinese) Elective & Social Studies'>Literature (Chinese) Elective & Social Studies</option>
				<option value='Literature (Malay) Elective & Social Studies'>Literature (Malay) Elective & Social Studies</option>
				<option value='Literature (Tamil) Elective & Social Studies'>Literature (Tamil) Elective & Social Studies</option>
				<option value='Mathematics'>Mathematics</option>
				<option value='Additional Mathematics'>Additional Mathematics</option>
				<option value='Physics (Pure)'>Physics (Pure)</option>
				<option value='Chemistry (Pure)'>Chemistry (Pure)</option>
				<option value='Biology (Pure)'>Biology (Pure)</option>
				<option value='Combined Physics & Chemistry'>Combined Physics & Chemistry</option>
				<option value='Combined Biology & Chemistry'>Combined Biology & Chemistry</option>
				<option value='Combined Physics & Biology'>Combined Physics & Biology</option>
				<option value='Electronics'>Electronics</option>
				<option value='Computing'>Computing</option>
				<option value='Drama'>Drama</option>
				<option value='Exercise and Sports Science'>Exercise and Sports Science</option>
				<option value='Food and Nutrition'>Food and Nutrition</option>
				<option value='Design and Technology'>Design and Technology</option>
				<option value='Art'>Art</option>
				<option value='Music'>Music</option>
				<option value='Music and Dance Theory'>Music and Dance Theory</option>
				<option value='Biotechnology'>Biotechnoloy</option>
				<option value='Design Studies'>Design Studies</option>
				<option value='Media Studies'>Media Studies</option>
				</select>
				<select name="Grade10">
				<option value='1'>A1</option>
				<option value='2'>A2</option>
				<option value='3'>B3</option>
				<option value='4'>B4</option>
				<option value='5'>C5</option>
				<option value='6'>C6</option>
				<option value='7'>D7</option>
				<option value='8'>E8</option>
				<option value='9'>F9</option>
		     		</select><br>
          		<input type='submit'>
        </form>
    </body>
</html>
