<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  text_align: center;
}

td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h3>L1R5: For Junior College Course</h3>
<table>
  <tr>
    <td>L1</td>
    <td>English, Higher Mother Tongue</td>
  </tr>
  <tr>
    <td>R1</td>
    <td>Humanities/Higher Art/Higher Music/Malay (Special Programme)/Chinese (Special Programme)/Bahasa Indonesia</td>
  </tr>
  <tr>
    <td>R2</td>
    <td>Mathematics/Science</td>
  </tr>
  <tr>
    <td>R3</td>
    <td>Humanities/Higher Art/Higher Music/Mathematics/ Science/
Malay (Special Programme)/Chinese (Special Programme)/
Bahasa Indonesia</td>
  </tr>
  <tr>
    <td>R4</td>
    <td>Any GCE 'O' Level subjects (except Religious Knowledge)</td>
  </tr>
  <tr>
    <td>R5</td>
    <td>Any GCE 'O' Level subjects (except Religious Knowledge)</td>
  </tr>
</table>

<h3>L1R4: For Millennia Institute Course</h3>
<table>
  <tr>
    <td>L1</td>
    <td>English, Higher Mother Tongue</td>
  </tr>
  <tr>
    <td>R1</td>
    <td>Humanities/Higher Art/Higher Music/Mathematics/ Science/
Malay (Special Programme)/Chinese (Special Programme)/
Bahasa Indonesia</td>
  </tr>
  <tr>
    <td>R2</td>
    <td>Humanities/Higher Art/Higher Music/Mathematics/ Science/
Malay (Special Programme)/Chinese (Special Programme)/
Bahasa Indonesia</td>
  </tr>
  <tr>
    <td>R3</td>
    <td>Any GCE 'O' Level subjects (except Religious Knowledge)</td>
  </tr>
  <tr>
    <td>R4</td>
    <td>Any GCE 'O' Level subjects (except Religious Knowledge)</td>
  </tr>

</table>

<h3>L1R4: For polytechnic courses</h3>
<table>
  <tr>
    <td>Aggregate type</td>
    <td>ELR2B2-A</td>
    <td>ELR2B2-B</td>
    <td>ELR2B2-C</td>
    <td>ELR2B2-D</td>
  </tr>
  <tr>
    <td>EL</td>
    <td colspan="4">English</td>
  </tr>
  <tr>
    <td rowspan="2">R2</td>
    <td>Art/Art & Design, Business Studies, Combined Humanities, Commerce, Commercial Studies, Economics, Geography, Higher Art, Higher Music, History, Humanities (Social Studies, Literature in English), Humanities (Social Studies, Literature in Chinese), Humanities (Social Studies, Literature in Malay), Humanities (Social Studies, Literature in Tamil), Humanities (Social Studies, History), Humanities (Social Studies,
Geography), Intro to Enterprise Development, Literature in English, Literature in Chinese, Literature in Malay, Literature in Tamil, Media Studies (English), Media Studies (Chinese), Music
</td>
  <td colspan="3">Elementary Mathematics, Additional Mathematics</td>
  </tr>
  <tr>
    <td>Additional Mathematics, Art/Art & Design, Business Studies, Chinese, Combined Humanities,Commerce, Commercial Studies, Creative 3D Animation, Design & Technology, Design Studies, Economics, Elementary Mathematics, Food & Nutrition, Geography, Higher Art, Higher Chinese, Higher Malay, Higher Music, Higher Tamil, History, Humanities (Social Studies, Literature in English), Humanities (Social Studies, Literature in Chinese), Humanities (Social Studies, Literature in Malay), Humanities (Social Studies, Literature in Tamil), Humanities (Social Studies, History), Humanities (Social Studies, Geography), Intro to Enterprise Development, Literature in English, Literature in Chinese, Literature in Malay, Literature in Tamil, Malay, Media Studies (English), Media Studies (Chinese), Music, Principles of Accounts, Tamil
</td>
    <td>Art/Art & Design, Business Studies, Combined Humanities, Commerce, Commercial Studies, Economics, Geography, Higher Art, Higher Music, History, Humanities (Social Studies, Literature in English), Humanities (Social Studies, Literature in Chinese), Humanities (Social Studies,
Literature in Malay), Humanities (Social Studies, Literature in Tamil), Humanities (Social Studies, History), Humanities (Social Studies, Geography), Intro to Enterprise Development, Literature in English, Literature in Chinese, Literature in Malay, Literature in Tamil, Media Studies (English), Media Studies (Chinese), Music, Principles of Accounts</td>
<td>Addn Combined Science, Additional Science, Biology, Biotechnology, Chemistry, Combined Science, Computing/Computer Studies, Creative 3D Animation, Design & Technology, Food & Nutrition, Electronics/Fundamentals of Electronics, General Science, Human & Social Biology, Integrated Science, Physics/Engineering, Science, Science (Chem, Bio), Science (Phy, Bio), Science (Phy,Chem)/, Physical Science, Science (Phy, Chem, Bio) </td>
<td>Addn Combined Science, Additional Science, Art/Art & Design, Biology, Biotechnology, Chemistry, Combined Science, Computing/Computer Studies, Creative 3D Animation, Design & Technology, Design Studies, Food & Nutrition, Electronics/Fundamentals of Electronics, General Science, Higher Art, Human & Social Biology, Integrated Science, Media Studies (English), Media Studies (Chinese), Physics/Engineering Science, Science (Chem, Bio), Science (Phy, Bio), Science (Phy, Chem)/Physical, Science, Science (Phy, Chem, Bio)</td>
  </tr>
  
  <tr>
    <td>B2</td>
    <td colspan="4">Best 2 other subjects</td>
  </tr>

</table>

</body>
</html>
